{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Healthome - Diabetes Prediction</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/diabetes.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="{%static 'js/bootstrap.min.js'%}"></script>
		<script src="{%static 'js/validator.min.js'%}"></script>
	</head>
	<body>
		<div class="container" style="padding-top: 20px">
			<div class="card text-center">
				<div class="card-header">
    				<nav class="navbar navbar-expand-lg navbar-light bg-light">
  						<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      						<li class="nav-item active">
        						<a class="nav-link" href="/diabetes/profile/">Profile<span class="sr-only">(current)</span></a>
      						</li>
      						<li class="nav-item">
        						<a class="nav-link" href="#">Input<span class="sr-only">(current)</span></a>
      						</li>
      						<li class="nav-item">
        						<a class="nav-link" href="#">Arduino<span class="sr-only">(current)</span></a>
      						</li>
      						<li class="nav-item">
        						<a class="nav-link" href="#">Result<span class="sr-only">(current)</span></a>
      						</li>
    					</ul>
					</nav>
  				</div>	
				<div class="card-body container">
					{% block content %}
					{% endblock %}
				</div>
				<div class="card-footer text-muted">
    				@Copyright ELEC5622 Group 1
  				</div>
			</div>
		</div>
		
	</body>
</html>