{% extends "diabetes_base.html" %}
{% load staticfiles %}
	<body>
		{% block content %}
		<h2> Welcome, {{user.first_name}} {{user.last_name}}</h2>
		<ul class="list-group text-left">
  			<li class="list-group-item">E-mail: {{user.email}}</li>
  			<li class="list-group-item">Arduino Board:</li>
  			{%for b in boards%}
  			<li class="list-group-item">
  				<form action="{% url 'profile' %}" method="POST">
  					{% csrf_token %} 
  					<input type="input" name="delete_board" value="{{b.board}}" readonly />
  					<button type="submit" name="delete" class="btn btn-danger">Delete</button>
  				</form>
  			</li>
  			{%endfor%}
  			<li class="list-group-item">
  				<form action="{% url 'profile' %}" method="POST">
  					{% csrf_token %} 
  					<input type="input" name="add_board" placeholder="Board Number"/>
  					<button type="submit" name="add" class="btn btn-primary">Add</button>
  				</form>
  			</li>
		</ul>
		{% endblock %}
	</body>